body {
  margin: 0;
}

div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}